body {
    padding-top: 5%;
    margin: 0;
    background-image: url(books.jpg);
    background-color: floralwhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav a {
    font-family: monospace;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchBook {
    top: 50px;
    margin-top: 75px;
    margin-bottom: 20px;
    position: relative;
    left: 5em;
    font-family: monospace;
}

#searchBookBtn {
    top: 50px;
    margin-top: 75px;
    margin-bottom: 20px;
    position: relative;
    left: 5.5em;
    font-family: monospace;
}



main > div > ul > li {
    border: 2px solid black;
    height: auto;
    box-shadow: 2px 2px 5px black;
    background-color: floralwhite;
    left: 50px;
    font-family: monospace;
}


#bookList > li {
    border: 2px solid black;
    height: 200px;
    box-shadow: 2px 2px 5px black;
    background-color: floralwhite;
    left: 50px;
    font-family: monospace;
}

main > div > ul > li > button.btn-outline-success {
    position: absolute;
    bottom: 5%;
    right: 7%;
    font-family: monospace;
}

main > div > ul > li > button.btn-success {
    position: absolute;
    bottom: 5%;
    right: 7%;
    font-family: monospace;
}

main > div > ul > li > button.btn-outline-danger {
    position: absolute;
    float: right;
    bottom: 5%;
    right: 7%;
    font-family: monospace;
}

main > div > ul > li > button.btn-danger {
    position: absolute;
    float: right;
    bottom: 5%;
    right: 7%;
    font-family: monospace;
}

main > div > ul > li > img {
    float: right;
    position: relative;
    margin: 5%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

ul.align-items-start > li {
    margin-top: 50px;
    font-family: monospace;
}

#error {
    text-align: center;
    position: relative;
    margin-top: 50px;
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: monospace;
}

h1.main {
    font-size: 4em;
    text-align: center;
    position: relative;
    margin-top: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

#viewBooks {
    position: absolute;
    left: 380px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: #343A40;
    font-family: monospace;
}

main {
    margin-bottom: 5em;
}

  footer{
    position: fixed;
    bottom:0;
  }

footer h5{

  color:white;
  margin:20px;
}

.error {
    color:white;
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#fails {
  text-align: center;
  color:white;
}

@media  (max-width:600px){

  footer{

  }
}
