body {
    margin: 0 auto;
    padding-top: 5%;
    background-image: url(books.jpg);
    background-color: floralwhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav a {
    font-family: monospace;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchBook {
    top: 50px;
    margin-top: 75px;
    margin-bottom: 20px;
    position: relative;
    left: 2em;
    font-family: monospace;
}

#searchBookBtn {
    top: 50px;
    margin-top: 75px;
    margin-bottom: 20px;
    position: relative;
    left: 2.5em;
    font-family: monospace;
}



main > div > ul > li {
    border: 2px solid black;
    height: 350px;
    box-shadow: 2px 2px 5px black;
    background-color: floralwhite;
/*    left: 50px;*/
    font-family: monospace;
}


main > div > ul > li:last-child {
    margin-bottom: 50px;
}


#bookList > li {
    border: 2px solid black;
    height: 250px;
    box-shadow: 2px 2px 5px black;
    background-color: floralwhite;
/*    left: 50px;*/
    font-family: monospace;
}

main > div > ul > li > button.btn-outline-success {
    position: absolute;
    bottom: 5%;
    right: 4%;
    font-family: monospace;
}

main > div > ul > li > button.btn-success {
    position: absolute;
    bottom: 5%;
    right: 4%;
    font-family: monospace;
}

main > div > ul > li > button.btn-outline-danger {
    position: absolute;
    float: right;
    bottom: 5%;
    right: 4%;
    font-family: monospace;
}

main > div > ul > li > button.btn-danger {
    position: absolute;
    float: right;
    bottom: 5%;
    right: 4%;
    font-family: monospace;
}

main > div > ul > li > img {
    float: right;
    position: relative;
    margin: 5%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

ul.align-items-start > li {
    margin-top: 50px;
    font-family: monospace;
}

#error {
    text-align: center;
    position: relative;
    margin-top: 50px;
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: monospace;
}

h1.main {
    font-size: 4em;
    text-align: center;
    position: relative;
    margin-top: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

#viewBooks {
    position: absolute;
    left: 380px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-color: #343A40;
    font-family: monospace;
}

main {
    margin-bottom: 5em;
}

  footer{
    position: fixed;
    bottom:0;
  }


#bookStatus h5{
/*  margin:20px;*/
  color:white;
    font-family: monospace;
}


#bookStatus {
    display: flex;
    justify-content: center;
    color: white;

}

#bookStatus input {
    padding: 5px;
    margin: 20px;
    height: 20px;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    text-rendering: none;
    color: none;
    letter-spacing: none;
    word-spacing: none;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: none;
    margin: none;
    font: 400 11px system-ui;
    font-family: monospace;
}




.error {
    color:white;
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#fails {
  text-align: center;
  color:white;
}




@media  (max-width:600px){

  footer{

  }
}
